.navigation-main{
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 58px;
  background-color: #796c8b;
  z-index: 2;
  .logo {
    position:absolute;
    left: 0;
    img {
      margin-left: 50px;
      margin-top: 7px;
      width: 180px;
    }
  }
  ul{
    width: 720px;
    margin: 20px auto;
    list-style: none;
    li{
      display: inline-block;
      margin: 0 60px;
      a{
        color: inherit;
        text-decoration: none;
      }
    }
  }
}